h1 {
  text-align: center;
}

#grid {
  width: 800px;
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  border: 2px solid black;
}

.cell {
  width: 8px;
  height: 8px;
}

.snake {
  background-color: black;
  border-radius: 2px;
}

.ghost {
  background-color: gray;
}

.food {
  background-color: red;
  border-radius: 3px;
}

.specialFood {
  background-color: rgb(46, 0, 253);
  border-radius: 4px;
}

#period {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 800px;
  height: 10px;
  border: 2px solid black;
}

.emptybar {
  width: 4px;
  height: 10px;
}

.bar {
  background-color: rgb(16, 233, 16);
  width: 4px;
  height: 10px;
}
